body {
    background-color: rgba(254,250,239,255);
    margin: 0;
}

.bg-header {
    background-color: #AEAEB0;
}

.card-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 70px;
    padding-top: 20px;
    width: 20%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #27355C;
}

.img-logo {
    width: 90px;
    height: auto;
    margin-left: 35px;
    margin-right: 35px;
}

.background-img {
    background-image: url('img/brainbg.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    border-radius: 10px;
}

.background-question-container {
    background-color: rgba(247,247,247,255);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 15%;
    padding-right: 15%;
    height: 100%;
}

.top-padding {
    padding-top: 18%;
}

.quiz-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-size {
    display: flex;
    width: 800px;
    height: 500px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(231, 231, 231);
    border-radius: 10px;
}

#card-body {
    width: 100%;
}

.font-size-text {
    font-size: 20px;
    margin-top: 10px
}

.button-position {
    margin-top: 140px;
    margin-left: 55%;
    padding-left: 30px;
    padding-right: 20px;
    background-color: #FF4D0F;
    border-color: #FF4D0F;
}

.color-orange {
    color: #FF4D0F;
}

.button-position img {
    height: 16px;
    width: 16px;
    margin-bottom: 2px;
    margin-left: 15px;
}

.nav-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.menu-links {
    text-decoration: none;
    font-size: 20px;
}

.vertical-bar {
    font-size: 20px;
    font-weight: 900;
    margin-left: -1px;
    margin-top: -3px;
    color: #27355C;
}

.flex-menu-links {
    display: flex;
    gap: 30px;
    width: 100%;
    color: #AEAEB0;
}

.flex-menu-links:hover {
    cursor: pointer;
    color: white;
}

.flex-menu-hover {
    color: white;
}

.flex-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

h4 {
    padding-top: 50px;
    padding-bottom: 40px;
}

.card-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
    padding: 5px;
}

.letter-div {
    background-color: #d6d6d6;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;

}

.card-style:hover {
    cursor: pointer;
    box-shadow: 2px 0px 7px 3px rgba(0,0,0,0.12);
}

.bg-green {
    background-color: #b7f799;
}

.bg-red {
    background-color: #ffa3a4;
}

.bg-green-letter {
    background-color: #4dbf18;
    color: white;
}

.bg-red-letter {
    background-color: #fb161b;
    color: white;
}

.result-image {
    padding-top: 70px;
    padding-bottom: 20px;
    width: 120px;
    height: auto;
    object-fit: cover;
}

h5 {
    padding-bottom: 30px;
}

.trophy{
    margin-top: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}